<!DOCTYPE html>
<html>
<head>
	<title>Test Login</title>
</head>
<body>
	{% if not user.is_authenticated %}
	<h1>Login</h1>
	<form method="post">
		{% csrf_token %}
		{{ form.as_p }}
		<button type="submit">Login</button>
	</form>
	{% endif %}
</body>
</html>