<!DOCTYPE html>
<html lang="en">
  <head>
         
    <!-- Необходимые Мета-теги всегда на первом месте -->  
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Bootstrap CSS -->  
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" integrity="2hfp1SzUoho7/TsGGGDaFdsuuDL0LX2hnUp6VkX3CUQ2K4K+xjboZdsXyp4oUHZj" crossorigin="anonymous">
   
   </head>

  <body>
  {% if user.is_authenticated %}  
      <div class="container-fluid">
           <!-- Контекстную кнопку на информационные сообщения -->  
            <button type="button" class="btn btn-info">+</button>
            <br>

            <h2>Hello {{ user.username }}</h2>
            <br>
            <a href='{% url 'logout' %}'><button>Logout</button></a>
      </div>
      <div class="row">
          <div class="col-lg-6">
            <div class="input-group">
              <span class="input-group-btn">
                <button class="btn btn-secondary" type="button">Go!</button>
              </span>
              <input type="text" class="form-control" placeholder="Search">
            </div>
          </div>
    
      <br>  

      <h1>Users</h1>
      
      <div class="row">
          <div class="col-lg-6">
            <div class="input-group">
              <div class="input-group-btn">
                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  10
                </button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="#">10</a>
                  <a class="dropdown-item" href="#">9</a>
                  <a class="dropdown-item" href="#">8</a>
                  <div role="separator" class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Separated link</a>
                </div>
              </div>
              <input type="text" class="form-control" aria-label="Text input with dropdown button">
            </div>
          </div>
        </div>

    {% spaceless %}
    <div class="col-lg-12">
      <table class="table table-bordered table-inverse">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>E-mail</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
    {% endspaceless %}

       {% for student in students %}
          <tr>
            <th>{{ forloop.counter0 }}</th>
            <th scope="row">{% if student.name != 'Student 3' %}{{ student.name }}{% else %} 12312312 {% endif %}</th>
            <td>{{ student.email }}</td>
            <td>{{ student.status }}</td>
            <td>Edit/Remove</td>
          </tr>
        {% empty %}
          <h1>Sorry, no students in this list</h1>
        {% endfor %}
      </tbody>
    </table>
  </div>

    
    <nav aria-label="Page navigation">
        <ul class="pagination">
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
              <span class="sr-only">Previous</span>
            </a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
              <span class="sr-only">Next</span>
            </a>
          </li>
        </ul>
      </nav>

    <!-- jQuery первый, затем Tether, затем Bootstrap JS. -->  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js" integrity="sha384-THPy051/pYDQGanwU6poAc/hOdQxjnOEXzbT+OuUAFqNqFjL+4IGLBgCJC3ZOShY" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js" integrity="sha384-Plbmg8JY28KFelvJVai01l8WyZzrYWG825m+cZ0eDDS1f7d/js6ikvy1+X+guPIB" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/js/bootstrap.min.js" integrity="VjEeINv9OSwtWFLAtmc4JCtEJXXBub00gtSnszmspDLCtC0I4z4nqz7rEFbIZLLU" crossorigin="anonymous"></script>
  {% else %}
    <a href="{% url 'login' %}"><button>Login</button></a>
  {% endif %}
  </body>
</html>